__pycache__/
*.py[cod]

hangups
purplex
aiohttp
*/nohup.out

*.*~
/hangupsbot/__pycache__
/build
/scripts

# Prevent sqlite bot's files from commiting
*.swp
/hangupsbot/plugins/re
/hangupsbot/plugins/sqlite
/hangupsbot/plaugins/chatbot.sqlite

# Prevent telesync from saving photos
*.jpg

venv
